/* styles.css */

body {
    font-family: 'Arial', sans-serif;
    background: radial-gradient(circle, #83c6ec 0%,  #0059ff 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  #quiz-container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 600px;
  }
  
  #question-container {
    margin-bottom: 20px;
  }
  
  #question {
    color: #333333;
  }
  
  .btn-container {
    display: flex;
    flex-direction: column;
  }
  
  .btn {
    margin: 5px 0;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #e7e7e7;
    color: #333333;
    transition: background-color 0.3s;
  }
  
  .btn:hover {
    background-color: #cccccc;
  }
  
  .correct {
    background-color: #4caf50 !important; /* Green */
    color: white;
  }
  
  .wrong {
    background-color: #f44336 !important; /* Red */
    color: white;
  }
  
  #controls {
    display: flex;
    justify-content: space-between;
  }
  
  #next-btn, #restart-btn {
    background-color: #4caf50;
    color: white;
  }
  
  #next-btn:hover, #restart-btn:hover {
    background-color: #45a049;
  }
  
  #result-container {
    display: none;
    text-align: center;
  }
  
  .hide {
    display: none;
  }
  